
<div id="option_<%= i %>" style="padding:12px">
<% k = 1 %>
  <div>
    <% if question_type == "Multiple Choice - checked" %>
        <% advice_list.each{ | item | %>
            <%= check_box_tag 'checked_items_'+ ques_id.to_s + '[]', item.id -%>
            &nbsp;<%=item.advice %>
            <br>
            <% k+=1 %>
        <%}%>
    <% elsif question_type == "Essay" %>
        <%= text_field_tag('question_'+ ques_id.to_s + '[]') %>
    <% elsif question_type == "True False" %>
        <br><%= radio_button_tag 'option_'+ i.to_s, 1.to_s, false %>&nbsp;<%= TRUE %>
        <br><%= radio_button_tag 'option_'+ i.to_s, 2.to_s, false %>&nbsp;<%= FALSE %>
    <% elsif question_type == "Multiple Choice - radio" %>
        <% advice_list.each{ | item | %>
            <br><%= radio_button_tag 'option_'+ i.to_s, item.id, false %>&nbsp;<%=item.advice %>
            <% k+=1 %>
        <%}%>
    <% else %>
        <br><h2>Question has no type!</h2>
    <% end %>
  </div>
</div>
