<div>
<% i = 0 %>
<% questions.each{ | question | %>
    <%= i+1 %>. <%= question.txt %><BR/>
    <%if question.question_advices.size > 0 %>
      <% advice_list = question.question_advices %>
      <div id="option_<%= quiz_id %>_<%= i %>" style="padding:12px">
      <% k = 1 %>
      <% answer = Score.find_all_by_response_id_and_question_id(response.id,question.id) %>
      <% if QuizQuestionnaire.find(question.questionnaire_id).quiz_question_type == "Essay" %>
        <br>
            <%= answer[0].comments %>
        <br>
      <% elsif QuizQuestionnaire.find(question.questionnaire_id).quiz_question_type == "Multiple Choice - checked" %>
          <% shown = Array.new %>
          <% advice_list.size.times do %>
              <%  shown.push 0 %>
          <% end %>
          <% advice_list.each{ | item | %>
            <div>
              <% j = answer.size %>
              <% while ( j > 0 ) %>
                <% if (shown[j - 1] != 1) %>
                    <% if (item.advice == answer[j-1].comments) %>
                        <br><%= check_box_tag("display", 'option_' + quiz_id.to_s + i.to_s, checked = true, :disabled => true) %>&nbsp; <%= item.advice %>
                        <% shown[j-1] = 1 %>
                        <% break %>
                    <% end %>
                <% end %>
                <% j-= 1 %>
              <% end %>
              <% if (shown[j - 1] != 1) %>
                  <br><%= check_box_tag("display", 'option_' + quiz_id.to_s + i.to_s, checked = false, :disabled => true) %>&nbsp;<%= item.advice %>
              <% end %>
            </div>
            <% k+=1 %>
          <%}%>
      <% else %>
          <% advice_list.each{ | item | %>
            <div>
              <% if (item.advice == answer[0].comments)%>
              <br><%= radio_button_tag 'option_' + quiz_id.to_s + i.to_s, item.id, true, :disabled => true %>&nbsp;<%=item.advice %>
              <% else %>
              <br><%= radio_button_tag 'option_' + quiz_id.to_s + i.to_s, item.id, false, :disabled => true %>&nbsp;<%=item.advice %>
              <% end %>

            </div>
            <% k+=1 %>
          <%}%>
      <% end %>
</div>
    <% else %>
        <br/>
    <% end %>
  <BR/><BR/>
  <% i+=1
   } %>

<p>
	<label for="review_comments">Comments: </label>
	<% if controller.action_name != 'new' and response.additional_comment != nil %><%= response.additional_comment.strip%><% end %>
</p>

<br/>
<%= hidden_field_tag('return', @return) %>

</div>